
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: azure;
}

pre {
    border: 0;
    border-radius: 0;
    background-color: initial;
    margin: 0;
    padding: 5px;
    white-space: pre-wrap;
}

#createChatRoom {
    padding: 15px;
}

.page-header {
    padding-left: 40px;
}

.page-content {
    margin: 0 0 80px 40px;
}

.home-create-room {
    margin-top: 60px;
}

.home-container {
    width: 700px;
    margin: auto;
}

.home-actions {
    width: 200px;
    margin: auto;
    text-align: center;
}

.form-item {
    margin: 30px;
}

.home-list-rooms {
    min-height: 100px;
    width: 700px;
    margin-top: 60px;
}

.rooms {
    padding: 0 30px 0 30px;
    -moz-column-width: 180px;
    -webkit-column-width: 180px;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
}

#messagesBox {
    list-style: none;
    margin: 0;
}

#messagesBox li {
    display: table;
}

.messageHeader {
    padding: 0 30px 0 0;
}

.message {
    padding: 20px 45px 20px 45px;
    margin-bottom: 10px;
    background-color: #D0FFFF;
    word-wrap: break-word;
}

#fileList {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.dropText {
    width: 100%;
    text-align: center;
    line-height: 120px;
}

#chatblock {
    width: 550px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.write-area {
    resize: none;
    height: 100px;
    width: 98%;
}

#fileblock {
    width: 500px;
    margin: 0 10px 0 600px;
}


.nickname {
    font-weight: bold;
}

.fileitem {
    margin: 0 0 9px 0;
    padding: 0;
    font-size: small;
    display: block;
    float: left;
    left: 0;
    list-style: none;
}

.fileitem > li {
    float: left;
    padding-left: 5px;
}

.filenamefield {
    max-width: 360px;
    overflow-x: hidden;
}

.filestatusfield {
    /*width: 30%;
    text-align: center;*/
}


#infoblock {
    width: 250px;
    margin: 2px 0 0 250px;
    font-size: small;
}

#runtimeInfo {
    margin-right: 40px;
    font-size: 80%;
    display: inline;
}

#uploadSpeed {
    display: inline;
    margin-left: 5px;
    margin-top: 0;
    padding: 0;
    font-size: small;
}

.image-small {
    height: 200px;
}

.embedded-video {
    width: 640px;
    height: 363px;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row-fluid::before, .row-fluid::after {
    display: table;
    line-height: 0;
    content: "";
}

.row-fluid::after {
    clear: both;
}

.row-fluid .span85 {
    width: 83%;
}

.row-fluid .span75 {
    width: 73%;
}

.row-fluid .span66 {
    width: 65%;
}

.row-fluid .span50 {
    width: 49%;
}

.row-fluid .span33 {
    width: 32%;
}

.row-fluid .span25 {
    width: 24%;
}

.row-fluid .span20 {
    width: 19%;
}

.row-fluid .span15 {
    width: 14%;
}

.bluer {
    background-color: #D0FFFF;
}

#enterToSendBox {
    float: right;
    margin-top: 25px;
}

